@keyframes from-left {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    25% {
        opacity: 1;
        transform: translateY(0%);
    }

    75% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}




@keyframes slideer {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}



@keyframes ball {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 80px;
    }
}





@keyframes to-top {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    23% {
        opacity: 1;
        transform: translateY(-4%);
    }

    33% {
        transform: translateY(0%);
    }

    65% {
        transform: translateY(0%);
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}




@keyframes motion {
    0% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}






@keyframes nav-container {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}





/* ========= animations ========= */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

    /* 0%{transform: scale(1, 1);}
    100%{transform: scale(1.3, 1.3);} */
}