
@keyframes from-left{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    25%{
        opacity: 1;
        transform: translateY(0%);
    }
    75%{
        opacity: 1;
        transform: translateY(0%);
    }
    100%{
        opacity: 0;
        transform: translateY(-100%);
    }
}




@keyframes slideer{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}


@keyframes skills{
    0%{
        transform: translateY(0);
    }
    30%{ transform: translateY(06px);}
    40%{ transform: translateY(-60px);}
    100%{
        transform: translateY(0);
    }
}



@keyframes ball{
    from{
        background-position: 0 0;
    }
    to{
        background-position: 0 80px;
    }
}