.header-contact {
    background-image: url("../images/meeting.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    position: relative;
    clip-path: polygon(0 0, 0 98%, 3% 98%, 5% 100%, 8% 98%, 11% 99%, 12% 100%, 14% 98%, 17% 97%, 19% 100%, 23% 98%, 26% 100%, 28% 97%, 30% 98%, 33% 99%, 35% 100%, 38% 98%, 41% 100%, 43% 99%, 46% 100%, 51% 99%, 55% 98%, 59% 99%, 65% 98%, 69% 100%, 72% 98%, 77% 100%, 81% 98%, 85% 100%, 91% 99%, 95% 99%, 100% 100%, 100% 0);
    -webkit-clip-path: polygon(0 0, 0 98%, 3% 98%, 5% 100%, 8% 98%, 11% 99%, 12% 100%, 14% 98%, 17% 97%, 19% 100%, 23% 98%, 26% 100%, 28% 97%, 30% 98%, 33% 99%, 35% 100%, 38% 98%, 41% 100%, 43% 99%, 46% 100%, 51% 99%, 55% 98%, 59% 99%, 65% 98%, 69% 100%, 72% 98%, 77% 100%, 81% 98%, 85% 100%, 91% 99%, 95% 99%, 100% 100%, 100% 0);

}

.header-contact::before {

    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.548);
    position: absolute;
    top: 0%;
    left: 0%;

}

.header-contact>div {
    top: 48%;
    left: 25%;
    position: absolute;
    width: 50%;
    z-index: 3;
    color: white;
    overflow-x: hidden;
    text-align: left;
}

.header-contact>div p {
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 10px;
}








.section-container {
    overflow: hidden;
    margin: 60px 0;
    position: relative;
    width: 100%;
    height: 690px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact-container {
    height: 98%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    margin-left: 0px;
}

.increaseWidth {
    width: 80%;
}

.contact-container .c-one {
    width: 100%;
    transition: all 400ms ease;
}

.increaseWidth .c-one {
    margin-left: 20px;
    width: 30%;
    transition: all 400ms ease;
}

.contact-container .c-two {
    width: 0%;
}

.increaseWidth .c-two {
    width: 65%;
    transition: all 400ms ease;
}

.contact-container::before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1464a9;
    border-radius: 16px;

    box-shadow: 2px 2px 12px rgba(4, 4, 4, 0.276);
}

.increaseWidth::before {
    width: 60%;
    transition: all 400ms ease;
}

.contact-container-a.c-one>h2 {

    color: white;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    top: 6%;
    left: 0%;

}

.increaseWidth .c-one>h2 {
    width: 100%;
    transition: all 400ms ease;
}

.contact-container h2,
.contact-container p {
    text-transform: capitalize;
}

.contact-container h3 {
    font-size: 18px;
}


.contact-container-a {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.c-one {
    box-sizing: border-box;
    height: 100%;
}

.c-one h2 {
    text-transform: uppercase;
    width: 84%;
    text-align: center;
    margin-bottom: 22px;
}

.c-1-a {
    color: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    justify-content: space-evenly;
    background-color: transparent;
    padding: 10px 7px;
    box-sizing: border-box;
    border-radius: 10px;


    transition: background 250ms ease;
}

.c-1-a:hover {
    background-color: #ffffff12;
    transition: background 400ms ease;
}

.c-1-a:active {
    background-color: #ffffff1a;
    transition: background 400ms ease;
}

.c-1-a span {
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.c-1-a.aaa span {
    background-image: url("../images/email.png");
}

.c-1-a.bbb span {
    background-image: url("../images/phone.png");
}

.c-1-a.ccc>span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: auto;
}

.c-1-a.ccc span span:nth-child(1) {
    background-image: url("../images/facebook-light.png");
}

.c-1-a.ccc span span:nth-child(2) {
    background-image: url("../images/instagram-light.png");
}

.c-1-a.ccc span span:nth-child(3) {
    background-image: url("../images/whatsapp-light.png");
}

.c-1-a.ccc span span:nth-child(4) {
    background-image: url("../images/x-light.png");
}

.c-1-a.ddd span {
    background-image: url("../images/location.png");
}






.c-two {

    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    z-index: 3;
    background-color: transparent;
    position: relative;
}


/* the second section all containers were set to display none */
.contact-close {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    height: 0px;
    width: 0%;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(108, 108, 108, 0.162);
    opacity: 0;


    transition: all 400ms ease;
}

.contact-close.open {

    position: static;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    padding: 20px;
    opacity: 1;

    box-shadow: 2px 2px 12px rgba(108, 108, 108, 0.162);
}

.c-2-a {
    background-color: white;
}

.c-2-a span {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;
}

.c-2-a:first-child {
    display: block;
    border-radius: 20px;
}

.c-2-a:first-child form {
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c-2-a:first-child form input,
.c-2-a:first-child form textarea {
    border-radius: 9px;
    outline: none;
    border: none;
    cursor: default;
    font-size: 16px;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    background-color: rgba(177, 177, 177, 0.15);
}

.c-2-a:first-child form textarea {
    min-height: 150px;
    resize: vertical;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.c-2-a:first-child form input[type=submit] {
    background-color: #187dd6;
    color: white;
    width: 30%;
}






.c-2-a:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 0%;
}

.c-2-a.open:nth-child(2) {
    padding: 9%;
}

.c-2-a:nth-child(2) a {
    position: relative;
    height: 19%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    font-size: 30px;
}

.c-2-a:nth-child(2) a:before {
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -7%;
    left: 50%;
    background-color: #1464a9;
    content: "";
    transition: all 200ms ease-in-out;
    border-radius: 16px;
}

.c-2-a:nth-child(2) span {
    position: absolute;
}

.c-2-a:nth-child(2) a:hover:before {

    bottom: -5%;
    height: 2px;
    width: 80%;
    left: 10%;
}

.c-2-a:nth-child(2) a h2 {
    color: black;
    transition: color 400ms ease;
}

.c-2-a:nth-child(2) a:hover h2 {
    color: #1464a9;
}








.c-2-a:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contact-social-links {
    color: black;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.contact-social-links-img {
    background-image: url("../images/facebook.png");
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 0px !important;
}

.contact-social-links span {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-social-links span h2 {
    font-size: 23px;
}









.c-2-a:nth-child(4) {
    display: block;
    position: relative;
    padding: 0;
}

.c-2-a:nth-child(4):before {
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 14px;
    background: linear-gradient(to top, #000000e6, #00000064, #ffffff4d);
}

.c-2-a:nth-child(4)>span {
    background-image: url("../images/maps.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.address-pointer {
    background-image: url("../images/location.png");
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 42%;
    left: 47%;
    z-index: 3;





    animation: motion 0.9s none 0s infinite alternate ease-in-out;
    -moz-animation: motion 0.9s none 0s infinite alternate ease-in-out;
    -o-animation: motion 0.9s none 0s infinite alternate ease-in-out;
    -webkit-animation: motion 0.9s none 0s infinite alternate ease-in-out;
}

.address-content {
    position: absolute;
    bottom: 4%;
    right: 4%;
    width: 40%;
}

.address-content h3 {
    color: white;
    text-transform: capitalize;
}

.address-content p {
    color: rgba(154, 154, 154, 0.879);
}

.address-content a {
    color: #a3d0f3;
}

.address-content a small {
    text-decoration: underline;
}

.address-content a address {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
}


.side-2 {
    display: none;
    margin: 40px 0;
    width: 100%;
}

.side-2>div {
    width: 90%;
    margin: 0 auto;
}

.side-2 div>h2 {
    text-align: center;
    color: black;
}

.nav-click-lists {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-click-lists>span {
    padding: 5px 10px;
    border-radius: 12px;
}

.nav-clicks-container {
    height: auto;
    border: 2px solid #1464a9;
    border-radius: 16px;
    transition: height 300ms ease;
}

.clicks-container {
    height: auto;
}

.clicks-container:first-child form {
    width: 90%;
    margin: 0px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    box-sizing: border-box;
}

.clicks-container:first-child form input,
.clicks-container:first-child form textarea {
    border-radius: 9px;
    outline: none;
    border: none;
    cursor: default;
    font-size: 16px;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    background-color: rgba(177, 177, 177, 0.15);
    margin: 15px 0;
    width: 100%;
    box-sizing: border-box;
}

.clicks-container:first-child form textarea {
    min-height: 150px;
    resize: vertical;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.clicks-container:first-child form input[type=submit] {
    background-color: #187dd6;
    color: white;
    width: 30%;
}



.clicks-container:nth-child(2) {
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 30px 23%;
}

.clicks-container:nth-child(2) a {

    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-size: 30px;
    margin: 30px 0;
}

.clicks-container:nth-child(2) a:before {
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -7%;
    left: 50%;
    background-color: #1464a9;
    content: "";
    transition: all 200ms ease-in-out;
    border-radius: 16px;
}

.clicks-container:nth-child(2) span {
    position: absolute;
}

.clicks-container:nth-child(2) a:hover:before {
    bottom: -5%;
    height: 2px;
    width: 80%;
    left: 10%;
}

.clicks-container:nth-child(2) a h2 {
    color: black;
    transition: color 400ms ease;
}

.clicks-container:nth-child(2) a:hover h2 {
    color: #1464a9;
}




.clicks-container:nth-child(3) {
    width: 90%;
    margin: 20px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.clicks-container:nth-child(3)>span {
    width: 40%;
    margin: 20px 0;
    box-sizing: border-box;
}



.clicks-container:nth-child(4) {
    position: relative;
    padding: 0;
    border-radius: 16px;
}

.clicks-container:nth-child(4):before {
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 14px;
    background: linear-gradient(to top, #000000e6, #00000064, #ffffff4d);
}

.clicks-container:nth-child(4)>span {
    background-image: url("../images/maps.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    height: 350px;
    border-radius: 16px;
}






.p-button {
    position: relative;
    color: black;
    cursor: pointer;
    transition: all 350ms ease-out;
}

.p-button::before {
    z-index: -1;
    background-color: #0056ac;
    width: 0%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    content: "";
    transition: all 200ms ease-out;
}

.p-button::after {
    z-index: -1;
    background-color: #0095ff28;
    width: 0%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    content: "";
    transition: all 200ms ease-out 100ms;
}




.p-button.click-button-open {
    color: white;
    transition: all 350ms ease-out;
}

.p-button.click-button-open::before {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    transition: all 200ms ease-out;
}

.p-button.click-button-open::after {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    border-radius: 12px;
    transition: all 200ms ease-out 100ms;
}





.p-button-container.clicks-container {
    display: none;
}

.p-button-container.clicks-container.click-container-open {
    animation: nav-container 600ms none 0s 1 ease;
    -moz-animation: nav-container 600ms none 0s 1 ease;
    -o-animation: nav-container 600ms none 0s 1 ease;
    -webkit-animation: nav-container 600ms none 0s 1 ease;
}

.p-button-container.clicks-container.click-container-open:nth-child(1) {
    display: block;
}

.p-button-container.clicks-container.click-container-open:nth-child(2) {
    display: flex;
}

.p-button-container.clicks-container.click-container-open:nth-child(3) {
    display: flex;
}

.p-button-container.clicks-container.click-container-open:nth-child(4) {
    display: block;
}