/* fonts: h1 === "Roboto Slab", serif
        p and spans ===="Source Sans Pro", Arial, sans-serif; */




* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

/* html{
scroll-behavior: smooth;
} */

h1,
h2,
h3 {
    font-family: "Roboto Slab", serif;
}

h1 {
    font-size: 60px;
    text-transform: capitalize;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 28px;
}


p,
small,
a {
    font-family: "Source Sans Pro", Arial, sans-serif;
}

p {
    font-size: 16px;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 0;
}

span {
    display: inline-block;
}



.L-name {
    font-family: "Roboto Slab", serif;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}







/* ========= loading  spinner ========== */

body {
    overflow-y: hidden;
}

#loader {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease, visibility 0.4s ease -200ms;
}


.spinner {
    box-sizing: border-box;
    position: relative;
    opacity: 1;
    border: 5px solid rgba(173, 173, 173, 0.131);
    border-right-color: #126ab6;
    
    border-top-color: #126ab6;
    border-radius: 50%;
    background-position: center;
    width: 4rem;
    height: 4rem;
    animation: spin 1s linear infinite;
}


.spinner::before, .spinner::after{
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    border-radius: 50%;
    border: inherit;
    animation: inherit;
}
.spinner::before{
    border-width: 4px;
    animation-duration: 6s;
}
.spinner::after{
    border-width: 3px !important;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    animation-duration: 1s;
}

/* =========================================== */




.gggg{color: #1867ac !important;}
.gggg::before{background-color: #1867ac !important;}



.dropdown {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
}

.dropdown::before {
    background-color: black;
    position: absolute;
    opacity: 0;
    bottom: -10px;
    left: 43%;
    content: "";
    height: 8px;
    width: 14px;

    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.dropdown:hover:before {
    bottom: -4px;
    opacity: 1;
    transition: all 400ms ease;
}

.dropdown:hover .dropdown-down {
    bottom: -32px;
    opacity: 1;
    transition: all 400ms ease;

    -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);

}

.dropdown-down {
    z-index: 3;
    opacity: 0;
    bottom: -38px;
    left: -58px;
    position: absolute;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
}

.dropdown-down:hover span {
    color: white;
}

.dropdown-down span {
    text-align: center;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 12px;
    color: #a8a8a8;
    padding: 7px 10px;
    width: 100px;
    transition: color 400ms ease;
}





.effect {
    position: relative;
    display: inline-block;
}

.effect::before {
    z-index: 3;
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 3px;
    left: 50%;
    content: "";
    background-color: black;
}

.effect:hover::before {
    width: 50%;
    left: 25%;
    transition: all 500ms ease;
}











#reveal-link {
    position: absolute;
    background-color: #187dd6;
    display: block;
    bottom: 10px;
    right: 10px;
    padding: 20px;
    z-index: 300;
}

nav {
    z-index: 10;
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffd4;



    box-shadow: 0px 14px 16px -9px rgba(0, 0, 0, 0.213);
}

.top-nav {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 15px 0;
}

.top-nav div {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.aa {
    flex: 2 5 10px;
}

.aa img {
    width: 40px;
}

.bb {
    justify-content: end;
    flex: 5 2 10px;
}

.bb a {
    color: black;
    padding: 5px;
    font-size: 14px;
    margin: 2px 5px;
}

.bb .enroll {
    color: white;
    padding: 5px 7px;
    background-color: #187dd6;
}

.bb .enroll:hover {
    box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
    transition: all ease 0.3s;
}





button {
    padding: 0;
    margin: 0;
    user-select: none;
    border: none;
}

.menueBar {
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    top: 22%;
    right: 0px;
    padding: 7px;
    box-sizing: border-box;
    margin-top: 2.5px;
    overflow-x: hidden;
    background-color: transparent;

    transition: all 0.2s linear;
}



.menueBar span {
    z-index: 5;
    display: block;
    width: 24px;
    height: 2px;
    margin: 5px 0;
    border-radius: 20px;
    transition: all 0.2s linear;
    background-color: #000000;
}

.openMenu .s-1 {
    -webkit-transform: rotate(45deg) translate(2px, 2px);
    transform: rotate(45deg) translate(2px, 2px);
}

.openMenu .s-2 {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
}

.openMenu .s-3 {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
}










header {
    width: 100%;
    position: relative;
}

header::before {
    background-color: rgba(0, 0, 0, 0.548);
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

header video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.h-container {
    width: 100%;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    z-index: 3;
    top: 37%;
    left: 0;
    position: absolute;
}

.h-container p {
    text-transform: capitalize;
    color: #cbcbcb;
    margin: 20px 0;
}

.c-1 {
    overflow-y: hidden;
    width: 70%;
    height: 200px;
    text-align: center;
    padding: 0;
    margin: 0;
}

.inner-contain {
    width: 100%;
    display: none;
    padding: 0;
    margin: 0;
}

.inner-contain.active {
    display: block;


    animation: from-left 7s none 0s 1 ease;
    -moz-animation: from-left 7s none 0s 1 ease;
    -o-animation: from-left 7s none 0s 1 ease;
    -webkit-animation: from-left 7s none 0s 1 ease;
}

.inner-contain h1 {
    color: white;
    padding: 0;
    margin: 0;
}

.c-2 {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.c-2 a {
    position: relative;
    font-size: 17px;
    text-transform: capitalize;
    padding: 10px 20px;
    color: white;
    cursor: default;
}

.c-2 a::before {
    border-radius: 10px;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    background-color: #ffffff3e;
}

.c-2 a:hover::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 300ms ease;
}

.c-2 a:first-child {
    background-color: #126ab6;
    border-radius: 10px;
    color: #c7c7c7;
}













.features {
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.f-1 {
    font-weight: 600;
    text-align: center;
}

.features h2 {
    text-align: center;
    width: 50%;
    margin: 20px;
}

.f-2 {
    color: #000000ac;
    width: 60%;
    text-align: center;
}

.f-3 {
    box-sizing: border-box;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.f-3 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 28%;
    border-radius: 16px;
    padding: 20px 20px 20px 40px;
    margin: 9px;
    text-align: center;
}

.f-3 div:hover .icon.a {
    background-size: 100%;
    transition: all 200ms linear;
}

.icon {
    margin: 10px;
    width: 90px;
    height: 90px;
    background-color: #e2e2e2b6;
    border-radius: 50%;
}

.icon i {
    display: table-cell;
    line-height: 40px;
    color: #000;
}

.icon.a {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.f-3 div h3 {
    font-weight: 200;
    margin: 20px 0;
    font-size: 22px;
    overflow-x: hidden;
}

.f-3 div p {
    overflow-x: hidden;
    font-size: 0.9em;
    margin: 10px 0;
    color: #888888;
    width: 80%;
}










.dept {
    margin: 20px;
    position: relative;
    width: 90%;
    height: 950px;
}

.dept::before {
    width: 80%;
    background-color: rgb(207, 205, 205);
    height: 1px;
    content: "";
    position: absolute;
    top: -35px;
    left: 10%;
}

.dept>p,
.dept>h2 {
    text-transform: capitalize;
    text-align: center;
    margin: 10px;
}

.dept>p {
    font-weight: 600;
}

.d-1 {
    width: 90%;
    margin-left: 5%;
    margin-top: 80px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 10% 7%;
}

.d-1>div {
    background-color: #f4f8f8;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.inset-container:hover .insett::before {

    -webkit-box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
    box-shadow: inset -70px 0px 77px 11px rgba(0, 0, 0, 0.74);
}

.insett::before {
    content: "";
    background: transparent;
    z-index: 3;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    transition: box-shadow 200ms ease-in-out;
}

.d-1>div>a {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 50%;
}

.d-1>div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 5%;
    text-align: left;
}

.d-1>div>div h3 {
    font-size: 24px;
}

.d-1>div>div p {
    color: #888888;
    line-height: 25px;
    font-size: 0.9em;
}

.d-1>div>div a {
    font-size: 14px;
    color: black;
    padding: 8px 15px;
    margin-top: 5px;
    border: 2px solid black;
    align-self: flex-start;

    transition: all 400ms ease;
}

.d-1>div>div a:hover {
    color: white;
    background-color: black;
    transition: all 400ms ease;
}









.testmonials {
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

.testmonials::after {
    background-image: url("../images/school.jpg");
}

.testmonials::before {
    background-image: url("../images/school.jpg");
}

.testmonials::after {
    position: absolute;
    content: '';
    z-index: -2;
    bottom: -20px;
    height: 100px;
    width: 100%;
    clip-path: polygon(0% 1%, 0 88%, 2% 100%, 5% 93%, 5% 93%, 8% 99%, 9% 88%, 12% 94%, 17% 99%, 21% 100%, 27% 96%, 30% 92%, 32% 99%, 36% 98%, 39% 93%, 43% 92%, 48% 95%, 51% 90%, 54% 95%, 58% 91%, 62% 93%, 66% 93%, 71% 88%, 72% 96%, 76% 91%, 80% 92%, 83% 98%, 87% 97%, 90% 88%, 94% 95%, 97% 93%, 100% 83%, 100% 0%);
    -webkit-clip-path: polygon(0% 1%, 0 88%, 2% 100%, 5% 93%, 5% 93%, 8% 99%, 9% 88%, 12% 94%, 17% 99%, 21% 100%, 27% 96%, 30% 92%, 32% 99%, 36% 98%, 39% 93%, 43% 92%, 48% 95%, 51% 90%, 54% 95%, 58% 91%, 62% 93%, 66% 93%, 71% 88%, 72% 96%, 76% 91%, 80% 92%, 83% 98%, 87% 97%, 90% 88%, 94% 95%, 97% 93%, 100% 83%, 100% 0%);
}

.testmonials::before {
    position: absolute;
    content: '';
    z-index: -2;
    top: -20px;
    height: 100px;
    width: 100%;
    -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 16%, 3% 3%, 7% 5%, 12% 3%, 15% 10%, 18% 2%, 23% 8%, 28% 0, 31% 9%, 33% 1%, 37% 1%, 39% 11%, 41% 1%, 46% 0, 47% 9%, 52% 0, 60% 1%, 64% 12%, 68% 3%, 73% 5%, 79% 0, 84% 11%, 88% 0, 93% 7%, 97% 0%, 100% 5%);
    clip-path: polygon(100% 100%, 0% 100%, 0% 16%, 3% 3%, 7% 5%, 12% 3%, 15% 10%, 18% 2%, 23% 8%, 28% 0, 31% 9%, 33% 1%, 37% 1%, 39% 11%, 41% 1%, 46% 0, 47% 9%, 52% 0, 60% 1%, 64% 12%, 68% 3%, 73% 5%, 79% 0, 84% 11%, 88% 0, 93% 7%, 97% 0%, 100% 5%);
}

.testmonials>div {
    position: relative;
    height: 500px;
    background: #5086e5ab;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.testmonials>div::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: -20px;
    height: 100px;
    width: 100%;

    background: #5086e5ab;
    -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 16%, 3% 3%, 7% 5%, 12% 3%, 15% 10%, 18% 2%, 23% 8%, 28% 0, 31% 9%, 33% 1%, 37% 1%, 39% 11%, 41% 1%, 46% 0, 47% 9%, 52% 0, 60% 1%, 64% 12%, 68% 3%, 73% 5%, 79% 0, 84% 11%, 88% 0, 93% 7%, 97% 0%, 100% 5%);
    clip-path: polygon(100% 100%, 0% 100%, 0% 16%, 3% 3%, 7% 5%, 12% 3%, 15% 10%, 18% 2%, 23% 8%, 28% 0, 31% 9%, 33% 1%, 37% 1%, 39% 11%, 41% 1%, 46% 0, 47% 9%, 52% 0, 60% 1%, 64% 12%, 68% 3%, 73% 5%, 79% 0, 84% 11%, 88% 0, 93% 7%, 97% 0%, 100% 5%);
}

.testmonials>div::after {
    position: absolute;
    content: '';
    z-index: -1;
    bottom: -20px;
    height: 100px;
    width: 100%;

    background: #5086e5ab;
    clip-path: polygon(0% 1%, 0 88%, 2% 100%, 5% 93%, 5% 93%, 8% 99%, 9% 88%, 12% 94%, 17% 99%, 21% 100%, 27% 96%, 30% 92%, 32% 99%, 36% 98%, 39% 93%, 43% 92%, 48% 95%, 51% 90%, 54% 95%, 58% 91%, 62% 93%, 66% 93%, 71% 88%, 72% 96%, 76% 91%, 80% 92%, 83% 98%, 87% 97%, 90% 88%, 94% 95%, 97% 93%, 100% 83%, 100% 0%);
    -webkit-clip-path: polygon(0% 1%, 0 88%, 2% 100%, 5% 93%, 5% 93%, 8% 99%, 9% 88%, 12% 94%, 17% 99%, 21% 100%, 27% 96%, 30% 92%, 32% 99%, 36% 98%, 39% 93%, 43% 92%, 48% 95%, 51% 90%, 54% 95%, 58% 91%, 62% 93%, 66% 93%, 71% 88%, 72% 96%, 76% 91%, 80% 92%, 83% 98%, 87% 97%, 90% 88%, 94% 95%, 97% 93%, 100% 83%, 100% 0%);
}

.testmonials>div h2 {
    color: white;
    margin: 80px 0 20px 0;
    text-transform: capitalize;
    position: relative;
}

.testmonials>div h2::after {
    position: absolute;
    right: -43%;
    top: 52%;
    content: '';
    width: 30%;
    height: 1px;
    background: white;
}

.testmonials>div h2::before {
    position: absolute;
    left: -43%;
    top: 52%;
    content: '';
    width: 30%;
    height: 1px;
    background: white;
}

.prev,
.next {
    position: absolute;
    top: 40%;
    cursor: pointer;
    padding: 12px 20px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    transition: all 400ms ease;
}

.prev:hover,
.next:hover {
    background-color: #00466e9d;
    transition: all 400ms ease;
}

.prev:active,
.next:active {
    background-color: #00466ecf;
    transition: all 200ms ease;
}

.prev {
    left: 3px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.next {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    right: 3px;
}

.tt-1 {
    overflow-y: hidden;
}

.tt-1>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    animation: slideer 1s none -0.07s 1 ease;
    -moz-animation: slideer 1s none -0.07s 1 ease;
    -o-animation: slideer 1s none -0.07s 1 ease;
    -webkit-animation: slideer 1s none -0.07s 1 ease;
}

.img-age {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tt-1>div>p {
    margin: 20px;
    color: #ededed;
    text-transform: uppercase;
    font-weight: 600;
}

.tt-1>div>p small {
    font-size: 0.9em;
    font-weight: 200;
    margin: 5px;
    display: block;
    color: #9e9e9e;
}

.tt-1 div blockquote {
    color: white;
    width: 70%;
    font-weight: 200;
}

.view {
    padding: 20px;
    color: #aaaaaa;
    font-size: 17px;
    box-sizing: border-box;
    transition: color 300ms ease;
}

.view:hover {
    color: white;
    transition: color 300ms ease;
}

.dot-container {
    margin: 10px;
    padding: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(46, 79, 113);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.7s ease-in-out;
}

.activedot {
    background-color: #aaaaaa;
}













.gall {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
    width: 100%;
}

.gall h2 {
    position: relative;
    border: 2px solid black;
    padding: 4px 30px;
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
}

.gall h2::after {
    position: absolute;
    right: -53%;
    top: 52%;
    content: '';
    width: 40%;
    height: 1px;
    background: rgb(178, 178, 178);
}

.gall h2::before {
    position: absolute;
    left: -53%;
    top: 52%;
    content: '';
    width: 40%;
    height: 1px;
    background: rgb(178, 178, 178);
}











.gall>div {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;

}

.gall div>div {
    width: 20%;
    position: relative;
    height: 400px;
}

.gall .blurr {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-direction: row;
    overflow-y: hidden;


    transition: all 400ms ease-in-out
}

.gall .blurr::before {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0%;
    height: 0%;
    content: '';
    background-color: #000000a8;
}

.gall>div>div:hover .blurr {
    filter: blur(3px);
    transition: all 400ms ease;
}


.gall div div:hover .blurr::before {
    left: 0%;
    width: 100%;
    top: 0%;
    height: 100%;
    transition: all 400ms ease;
}

.gall div div h3 {
    width: 60%;
    color: white;
    text-align: center;
    text-transform: capitalize;
}

.pop-up {
    box-sizing: border-box;
    z-index: -1;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 28%;
    width: 70%;
    height: 90px;
    overflow-y: hidden;
}

.pop-up h3 {
    transform: translateY(100px);
}

.gall div div:hover .pop-up {
    z-index: 3;
}

.gall div div:hover .pop-up h3 {
    transform: translateY(0px);
    transition: all 700ms ease;
}








.faq {

    position: relative;
    margin: 200px 0 80px 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.faq::before {
    width: 100%;
    background-color: rgb(207, 205, 205);
    height: 1px;
    content: "";
    position: absolute;
    top: -80px;
    left: 0%;
}

.faq>div {
    width: 47%;
}

.faq-1 {
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.faq-1::before {
    border-radius: 16px;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(11, 40, 184, 0.392);
    background-size: 40px 40px;
    background-image: linear-gradient(45deg,
            rgb(255, 255, 255, 0.15) 25%,
            rgb(0, 0, 0, 0) 25%,
            rgb(0, 0, 0, 0) 50%,
            rgb(255, 255, 255, 0.15) 50%,
            rgb(255, 255, 255, 0.15) 75%,
            rgb(0, 0, 0, 0) 75%,
            rgb(0, 0, 0, 0));

    animation: ball 2.5s linear 0s infinite reverse;
    -moz-animation: ball 2.5s linear 0s infinite reverse;
    -o-animation: ball 2.5s linear 0s infinite reverse;
    -webkit-animation: ball 2.5s linear 0s infinite reverse;
    top: 0;
    left: 0;
}

.faq-1 h2 {
    z-index: 3;
    text-align: center;
    width: 70%;
    color: white;
    text-transform: capitalize;
}

.faq-1 a {
    position: relative;
    z-index: 3;
    padding: 10px 20px;
    font-weight: 400;
    border: 2px solid white;
    color: white;
    transition: all 400ms ease;
}

.faq-1 a::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    background-color: #ffffff69;
}

.faq-1 a:hover::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 300ms ease;
}

.faq-2 {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faq-2 .faq-container {
    border-radius: 10px;
    padding: 20px;
    border: 3px solid #f4f8f8;
    box-sizing: border-box;
}

.faq-container h3 {
    padding: 10px 0 0 0;
}

.faq-container p {
    color: #7b7b7b;
    line-height: 25px;
    padding: 0;
    margin: 0;
}










footer {
    position: relative;
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    background-color: #f4f8f8;
}

footer::before {
    position: absolute;
    content: '';
    z-index: -1;
    top: -40px;
    height: 100px;
    width: 100%;
    background-color: #f4f8f8;
    -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 16%, 3% 3%, 7% 5%, 12% 3%, 15% 10%, 18% 2%, 23% 8%, 28% 0, 31% 9%, 33% 1%, 37% 1%, 39% 11%, 41% 1%, 46% 0, 47% 9%, 52% 0, 60% 1%, 64% 12%, 68% 3%, 73% 5%, 79% 0, 84% 11%, 88% 0, 93% 7%, 97% 0%, 100% 5%);
    clip-path: polygon(100% 100%, 0% 100%, 0% 16%, 3% 3%, 7% 5%, 12% 3%, 15% 10%, 18% 2%, 23% 8%, 28% 0, 31% 9%, 33% 1%, 37% 1%, 39% 11%, 41% 1%, 46% 0, 47% 9%, 52% 0, 60% 1%, 64% 12%, 68% 3%, 73% 5%, 79% 0, 84% 11%, 88% 0, 93% 7%, 97% 0%, 100% 5%);
}



.footer1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30%;
    justify-content: space-evenly;
}

.footer1 a,
.footer2 a {
    color: black;
    padding: 5px;
}

.footer2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30%;
    justify-content: space-evenly;
}

.footer2 a {
    padding: 5px 10px;
}


.footer3 {
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer3::before {
    content: "";
    position: absolute;
    width: 70%;
    height: 1px;
    text-align: center;
    top: -20px;
    left: 15%;
    background-color: #aaaaaa;
}

.footer3 p small {
    color: grey;
}

.footer3 p small a {
    font-size: 1.1em;
    color: black;
    font-weight: 700px;
    display: inline-block;
}








